@page "/"
@using TeamBlackHats.Services

<PageTitle>Home</PageTitle>

@if(AuthState.Authenticated)
{
    <h1>Hello, @AuthState.Username!</h1>
    <p>Click one of the links to check out some amazing sports statistics!</p>
}
else 
{
    <h1>Welcome!</h1>
    <p>Login or signup to check out some awesome sports statistics!</p>
}

