@using TeamBlackHats.Services

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TeamBlackHats</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        @if(AuthState.Authenticated)
        {
             <div class="nav-item px-3">
                <NavLink class="nav-link" href="counter">
                    <span class="oi oi-plus" aria-hidden="true"></span> Counter
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="fetchdata">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="NFL">
                    <span class="oi oi-plus" aria-hidden="true"></span> NFL
                </NavLink>
                @if (expandSubMenu)
                {
                    <NavLink class="expand-menu" href="Offense">
                        <span class="oi oi-heart" aria-hidden="true"></span> NFL Offense Team
                    </NavLink>
                    <NavLink class="expand-menu" href="Defense">
                        <span class="oi oi-heart" aria-hidden="true"></span> NFL Defense Team
                    </NavLink>
                    <NavLink class="expand-menu" href="Coach">
                        <span class="oi oi-heart" aria-hidden="true"></span> NFL Coach
                    </NavLink>
                    <NavLink class="expand-menu" href="Stats">
                        <span class="oi oi-heart" aria-hidden="true"></span> NFL Team Stats
                    </NavLink>
                    <NavLink class="expand-menu" href="History">
                        <span class="oi oi-heart" aria-hidden="true"></span> NFL Team History
                    </NavLink>
                }
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="NBA">
                    <span class="oi oi-plus" aria-hidden="true"></span> NBA
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="MLB">
                    <span class="oi oi-plus" aria-hidden="true"></span> MLB
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="logout">
                    <span class="oi oi-plus" aria-hidden="true"></span> Logout
                </NavLink>
            </div>

        }
        else
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="login">
                    <span class="oi oi-plus" aria-hidden="true"></span> Login 
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="signup">
                    <span class="oi oi-plus" aria-hidden="true"></span> Signup
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool expandSubMenu;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
